<h1 class="page-header">{{recipe.id != null ? 'Rezept Bearbeiten': 'Neues Rezept'}}</h1>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" autofocus="true" class="form-control" id="name" placeholder="Name des Rezept" ng-model="recipe.name">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Beschreibung</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" placeholder="kurze Beschreibung" ng-model="recipe.description">
        </div>
    </div>
    <div class="form-group">
        <label for="instructions" class="col-sm-2 control-label">Zutaten</label>

        <div class="col-sm-10">
                <div class="row form-group" ng-repeat="ing in recipe.ingredients">
                    <div class="col-xs-7">
                        <input type="text" class="form-control ing-name" placeholder="Zutat (z.B. Milch)"
                               ng-model="ing.name"
                               typeahead="i as i.name for i in availableIngredients | filter:$viewValue"
                               typeahead-on-select="setUnit(ing,$model.unit)"
                               typeahead-input-formatte="$model.name">
                    </div>
                    <div class="col-xs-2">
                        <input type="number" class="form-control ing-amount" placeholder="Menge (z.B. 2)"  ng-model="ing.amount">
                    </div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control ing-unit" placeholder="Einheit (z.B. dl)"  ng-model="ing.unit" ng-blur="setLastFocus($last)"  typeahead="u for u in availableUnits | filter:$viewValue">
                    </div>
                    <div class="col-xs-1">
                        <button ng-hide="$last" type="button" ng-click="removeIngredient(ing)" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button ng-click="addIngredient()" ng-focus="addIngredientOnFocus()" class="btn btn-default">neue Zutat</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="form-group">
        <label for="instructions" class="col-sm-2 control-label">Anleitung</label>

        <div class="col-sm-10">
            <textarea type="password" class="form-control" id="instructions" placeholder="Man nehme.." ng-model="recipe.instructions" rows="10" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-click="saveRecipe()">Speichern</button>
        </div>
    </div>
</form>
{{recipe}}