<h1 class="page-header">
    {{recipe.name}}<br/>
    <small>{{recipe.description}}</small>
</h1>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Zutaten</h3>
                </div>
                <div class="panel-body" style="padding-left: 0px;">
                    <ul>
                        <li ng-repeat="i in recipe.ingredients">{{i.name}}, {{i.amount}} {{i.unit}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 text-justify">
            <h3 style="margin-top: 0px">Anleitung</h3>
            {{recipe.instructions}}
        </div>
    </div>

</div>

<div class="container-fluid" style="margin-top: 30px;">
            <span class="pull-left">
                <a class="btn btn-default">
                    <span class="glyphicon glyphicon-print"></span> Drucken
                </a>
            </span>
            <span class="pull-right">
                <a href="#editrecipe/{{recipe.id}}" class="btn btn-warning">
                    Bearbeiten
                </a>
                <a href="" ng-click="removeRecipe()" class="btn btn-danger">
                    L&ouml;schen
                </a>
            </span>
</div>

